*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.df{
    display: flex;
}
.column{
    flex-direction: column;
}
.sb{
    justify-content: space-between;
}
body{
    height:100vh;
}
header{
    padding:1% 4%;
    align-items: center;
    justify-content: center;
    border-style: solid;
    
}
.topleft{
    gap:50px;
    justify-content: center;
    align-items: center;
}
.topleft figure{
    justify-content: center;
}
header div{
    position: relative;
}
input{
    padding:10px 0 10px 35px;
    background:rgb(240, 240, 240);
    border:none;
    border-radius: 4px;
}
header div img{
    position: absolute;
    max-width: 15px;
    top:10px;
    left:10px;
}
::placeholder{
    color:rgb(109, 108, 108);
    font-weight:400;
    font-size:14.5px;
}
.topright{
    gap:20px;
    align-items: center;
}
.topright img{
    cursor: pointer;
}
main{
    padding:1.4%;
    border-style: solid;
    height:100%;
}
.mainleft{
    border:none;
    max-width:12.8%;
    background:rgb(75,53,200);
    border-radius: 7px;
    padding: 1.2em 0;
}
li figure{
    padding:15px 0 15px 2.3em;
    gap:7px;
}
ul{
   list-style: none;
}
a{
    text-decoration: none;
    color:rgb(206, 203, 203);
    font-size: 0.9em;
    font-weight: 400;
}
.mainleft img{
    cursor: pointer;
}
.reportbox{
    padding:13px;
    border-radius: 4px;
    background: rgb(28, 8, 143);
    color:white;
    margin:0 0.7em;
}
h4{
font-size: 0.88em;
margin-bottom: 0.7em;
}
.reportbox p{
    font-size: 0.8em;
    color:rgb(202, 202, 202);
    line-height: 1.5em;
}
.percentage{
    align-items:end;
}
.percentage .value{
    width: 100%;
    border-style: solid;
    margin-top: 4px;
    border-radius:7px;
    border:none;
    height:7px;
    /*background:linear-gradient(to right, white 64%,rgb(192, 192, 192) 36%)*/
    background:rgb(177, 175, 175);
}
.six4{
    width:64%;
    background: white;
    border:none;
    border-radius: 7px;
}